<!-- <button mat-button>Hello Mato</button> -->
<!-- 
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
               required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper> -->


<mat-horizontal-stepper>
  <mat-step label="Shipping address">
    <p>Step 1</p>
  </mat-step>
  <mat-step label="Shipping address">
    <p>Step 2</p>
  </mat-step>
  <mat-step label="Shipping address">
    <p>Step 3</p>
  </mat-step>
</mat-horizontal-stepper>

<mat-list>
  <div mat-subheader>Folders</div>
  <mat-list-item *ngFor="let folder of folders">
    <mat-icon matListItemIcon>folder</mat-icon>
    <div matListItemTitle>{{folder.name}}</div>
    <div matListItemLine>{{folder.updated | date}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Notes</div>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon matListItemIcon>note</mat-icon>
    <div matListItemTitle>{{note.name}}</div>
    <div matListItemLine>{{note.updated | date}}</div>
  </mat-list-item>
</mat-list>



<mat-accordion multi="true" hideToggle="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is ROshan Raut laearning Angular mAterial Expansion  Panel</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        REST API Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 2 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is ROshan Raut laearning Rest API </p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        java Fundamentals
      </mat-panel-title>
      <mat-panel-description>
        Total Duration : 5 hours
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is ROshan Raut laearning java</p>
    <mat-action-row>
      <button mat-button>Enroll</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>




<mat-grid-list cols="2" rowHeight="fit" style="height:200px" gutterSize="10px">
  <mat-grid-tile>T1</mat-grid-tile>
  <mat-grid-tile>T2</mat-grid-tile>
  <mat-grid-tile>T3</mat-grid-tile>
  <mat-grid-tile>T4</mat-grid-tile>
</mat-grid-list>